/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
	padding-top: 50px;
	padding-bottom: 20px;
}*/
/*.body {*/
body {
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	color: #545554;

	padding-top: 50px;
	/*padding-bottom: 20px;*/
}

p {
	font-family: "Open Sans" !important;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #545554;
}

.navbar-inverse {
    background-color: #545554;
    border-color: #545554;
}

.navbar-header{
	margin-top: 12px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-size: 12px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
  background-color:#00ccaa;
}

.navbar-fixed-top {
  top: 0;
  border-width: 1px 0 0px;
}

.medium-container {
  max-width: 600px;
  margin: auto;
}
/*Mail Chimp*/
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#c60; font-size:200%;}
#mc_embed_signup .mc-field-group .asterisk {position:absolute; top:25px; right:10px;}        
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin: default;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}
#mc_embed_signup{
  background:#00CC99; clear:left; font:14px Open Sans,sans-serif; 
}
.modal-footer{
  border-top: 0px;
  text-align: center;
}
.modal-header{
  border-bottom:0px;
}
.cierra-modal{
  margin-left:20px;
}
/*Colores de fondo*/

.fondo-gris{
	background-color: #545554;
}

#first{
	text-align: center;
	color: #474747;
	background-color: #00cc99;
	padding-top: 75px;
	padding-bottom: 0px;
}

#pagesgray{
	text-align: center;
	color: #474747;
	background-color: #eeeeee;
	padding-top: 75px;
	padding-bottom: 75px;
}

#video{
	text-align: center;
	color: #474747;
	background-color: #EEEEEE;
	padding-top: 75px;
	padding-bottom: 75px;
}

#registro {
	text-align: center;
	background-color: #00CC99;
	padding-top: 75px;
	padding-bottom: 75px;
}

#objetivos {
	text-align: center;
	background-color: #dbdbdb;
	padding-top: 50px;
	padding-bottom: 80px;
}

#herramientas {
	text-align: center;
	background-color: #D4D4D4;
	padding-top: 50px;
	padding-bottom: 80px;
}

#miembros {
	background-color: #00CC99;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

h2.titulo {
	font-weight: 700;
	margin-bottom: 60px;
}

h2 {
	font-weight: 700;
}

h2.titlebold {
	color: #fff;
}

.btn-default {
  margin-top: 1.5em;
  font-size: 1.1em;
  color: #fff;
  background-color: #545554;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 0;
  border-color: #545554;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

.btn.btn-default:hover {
  background-color: #474747;
	border-color: #474747;
  color: #fff;
}

.btn-warning{
  margin-top: 0em;
  font-size: 1em;
  color: #fff;
  background-color: #ca3845;
  text-transform: uppercase;
  padding: 1.08em 2em;
  border-radius: 0;
  border-color: #ac1926;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

.btn.btn-warning:hover{
    background-color:#990033;
}

.high-margins {
  margin-top: 40px;
  margin-bottom: 40px;
}
.event-container {
  margin-top: 2em;
}

.event {
  font-size: 1.1em;
  font-weight: 700;
  text-align: left;
  color: #545554;
  background-color: #EEEEEE;
  padding: 34px 25px;
  border-radius: 0;
  border-color: #545554;
}

.date {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  color: #545554;
  background-color: #EEEEEE;
  padding: 15px 15px;
  border-radius: 0;
  border-color: #545554;
}

.date .number {
  font-size: 2.5em;
}

td:hover {
}

a:hover, a:active, a:focus {
  background-color: transparent;
  text-decoration: none; 
}

.col-md-4 {
	text-align: center;
}

.scroll-link {
  color: #30cc99;
  font-size: 3em;
  margin-top: 3em;
}

.scroll-link span {
  margin-top:1em;
}


.footer {
	background-color: #545554;
	height: 270px;
	text-align: center;
	padding-top: 50px;
}

.add-top-separation {
	margin-top: 60px;
    margin-bottom: 60px;

}

.linkfooter {
	color: #00CC99;;
}

.footer-image {
	margin-right: 70px;
}

/* Table */

table {
  border-collapse: separate;
  border-spacing: 10px 20px;
}

.table {
	
	text-align:left;
}

td {
  vertical-align: top;
  padding: 0.86em;
  color: #000;
}

td a {
color:#30cc99;
}

/* Selector Columna de hora */
tr:nth-child(even) td:nth-child(odd){ background-color: #ffffff; }
tr:nth-child(odd) td:nth-child(odd){ background-color: #ffffff; }
thead tr:first-child td:nth-child(odd){ background-color: transparent; }

/* Selector de colores intercalados en columnas */
tr:nth-child(even) td:nth-child(even){ background-color: #D4D4D4; }
tr:nth-child(odd) td:nth-child(even){ background-color: #ffffff; }

/* Selector de tablas embebidas */
tr:nth-child(even) td:nth-child(even) tr td { background-color: transparent; }
tr:nth-child(odd) td:nth-child(even) tr td{ background-color: transparent; }

/* Selector del nombre de las columnas*/
thead tr:first-child td:nth-child(even){ background-color: transparent; }

/* Selectores filas con hover */
tr:nth-child(even):hover td:nth-child(odd){ background-color: #30cc99; }
tr:nth-child(odd):hover td:nth-child(odd){ background-color: #30cc99; }
tr:nth-child(even):hover td:nth-child(even){ background-color: #30cc99; }
tr:nth-child(odd):hover td:nth-child(even){ background-color: #30cc99; }
tr:nth-child(even):hover td:nth-child(even) a { color: #337ab7; }
tr:nth-child(odd):hover td:nth-child(even) a { color: #337ab7; }
thead tr:first-child:hover td:nth-child(odd){ background-color: transparent; }
thead tr:first-child:hover td:nth-child(even){ background-color: transparent; }

div.table table.table {
  background-color: transparent;
}

td>ul{
  margin-left:-1.2em;
}
