<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>taiga | cerámica de alta temperatura</title>
<meta name="viewport" content="width=device-width">

<link rel="shortcut icon" href="{{ site.root_url }}/img/favicon.ico">
<!-- Bootstrap core CSS -->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.root_url }}/css/syntax.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.root_url }}/css/custom.css">
<!-- Open Sans -->

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ site.root_url }}/js/main.js"></script>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ "/assets/js/vendor/jquery.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/underscore.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/jquery.bxslider.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/tap.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/moment.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/vendor/moment.locale.es.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/application.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/search-data.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/subscribe.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/sharer.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/skip-content.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59868217-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
